.top__menu a{
	text-decoration: none;
	color: #333;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	display: flex;
}

h3 {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 10px 0;
}

.skill__text {
	padding: 5px;
}

.header ul {
	display: flex;
	list-style: none;
}

.header li {
	padding-right: 16px;
	line-height: 90px;
}

.logo__image {
	width: 240px;
	margin-right: auto;
	cursor: pointer;
}

.logo__image img{
	width: 100%;
}

.video {
	margin: 0 auto;
}

.video__container {
	width: 1024px;
	margin: 0 auto;
	display: flexbox;
}

#about, #works, #contact {
	margin-bottom: 72px;
}

.footer {
	background-color: rgba(29, 26, 26, 0.338);
	color: #FFF;
	height: 250px;
	text-align: center;
}

.main__image {
	min-width: 1024px;
	position: relative;
}

.main__image img{
	width: 100%;
	opacity: 0.8;
}

.volunteer {
	display: flex;
}

.main__btn {
	padding: 20px;
	font-size: 24px;
	border: 3px solid #FFF;
	color: #FFF;
	display: inline-block;
	left: 40%;
	bottom: 50px;
	position: absolute;
	cursor: pointer;
}

#works {
	margin-bottom: 72px;
	height: auto;
}

.works__items {
	width: 100%;
}

ul.works__items{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

li.item {
	width: 300px;
	margin: 10px 20px 10px 20px;
	border: 1px solid rgb(189, 189, 189);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
	float: left;
	cursor: pointer;
}

li.item:nth-child(3n) {
	margin-right: 0;
}

.item img{
	width: 100%;
}

input {
	border-radius: 4px;
	width: 40%;
	line-height: 1.5rem;
}

textarea {
	border-radius: 4px;
	width: 60%;
	margin-bottom: 24px;
	line-height: 1.5rem;
}

#contact {
	display: flex;
}

.btn {
	border: 1px solid #333;
	background-color: rgb(0, 47, 255);
	border-radius: 10%;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	line-height: 100%;
}

footer {
	margin-top: 72px;
	min-width: 1024px;
}

.footer {
	padding: 30px;
}

.info {
  width: 1024px;
	margin: 0 auto 72px auto;
	text-align: center;
}

.skill {
	margin: 20px auto;
	display: flex;
}

.skill__2 {
	display: flex;
	flex-direction: row-reverse;
}

.skill__img {
	width: 50%;
}

.skill__img img{
	width: 100%;
}

.right {
	padding-top: 30px;
}

.works__title {
	text-align: center;
}

#video_mb{
	margin: 0 auto;
	max-width: 500px;
}

video {
	width: 100%;
	max-width: 500px;
}

.contact__form{
	padding: 0 10%;
}

.sns {
	margin-bottom: 30px;
}

footer i{
	color: #FFF;
	padding: 10px 20px;
}

.description {
	display: flex;
	margin-bottom: 32px;
	margin-top: 32px;
}

.diversity, .challengebility{
	margin: 0 auto;
	width: 33%;
	line-height: 1.5rem;
}

.diversity img, .challengebility img{
	width: 100%;
	opacity: 0.9;
}

.effect-fade{
	animation-name: fadein;
	animation-duration: 5s;
}

@keyframes fadein{
	from{
	opacity: 0;
	}
	to{
	opacity: 1;
	}
}

	.down-to-top {
    animation-name: fadeup;
    animation-duration: 2s;
		animation-iteration-count: 1;
}

@keyframes fadeup {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}